registry=https://artifactory.kroger.com/artifactory/api/npm/npm-repo
phantomjs_cdnurl=https://artifactory.kroger.com/artifactory/phantomjs
chromedriver_cdnurl=https://artifactory.kroger.com/artifactory/chromedriver
operadriver_cdnurl=https://artifactory.kroger.com/artifactory/operadriver
sass_binary_site=https://artifactory.kroger.com/artifactory/node-sass
fse_binary_host_mirror=https://artifactory.kroger.com/artifactory/fsevents
sqlite3_binary_site=https://artifactory.kroger.com/artifactory/node-sqlite3
electron_mirror=https://artifactory.kroger.com/artifactory/electron/